
.header { 
  display:flex;
  background-color: #ccc;
  padding: 0px;
  font-size: 34px;
  border: 1px solid #616060;
  

}

.header-text {
  margin-top: 1%;
  margin-left: 7.5%;
  margin-bottom: 1%;

}

@media (max-width: 768px) {
  .header {
    font-size: 20px;
    
  }
}

@media (max-width: 576px) {
  .header {
    font-size: 18px;
    
  }
}
