
.result-content {
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  padding: 10px 20px;
}
.result-content:hover {
  background-color: #efefef;
}
.result-content img {
  width: 50px; 
  height: 50px; 
  margin-left: 10px; 
}

.result-content span {
  font-size: 16px; 
}
